{% extends 'mailing/base.html' %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <a href="{% url 'mailing:client_create' %}" class="btn btn-lg btn-outline-primary">Создать нового клиента</a>
            <a href="{% url 'mailing:create' %}" class="btn btn-lg btn-outline-primary">Перейти к созданию рассылки</a>
        </div>
        <div class="row text-center">
            {% for object in object_list %}
            <div class="col-4">
                <div class="card mb-4 box-shadow my-3" style="height: 200px;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Клиент {{ object.fullname }}</h4>
                    </div>
                    <div class="card-body">
                        <p> {{ object.email }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            {% if object.author == user %}
                                <a href="{% url 'mailing:client_view' object.pk %}" class="btn btn-outline-primary mr-1">Просмотр</a>
                                <a href="{% url 'mailing:client_edit' object.pk %}" class="btn btn-outline-secondary mr-1">Изменение</a>
                                <a href="{% url 'mailing:client_delete' object.pk %}" class="btn btn-outline-warning mr-1">Удаление</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}