{% extends 'mailing/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
        <div class = "text-center">
            <div class="col-12">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <p>Хотите удалить пользователя "{{ object.email }}"?</p>
                                <button type="submit" class="btn btn-outline-warning">Подтвердить</button>
                                <a href="{% url 'users:user_list' %}" class="btn btn-outline-primary">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}