{% extends 'mailing/base.html' %}
{% block content %}
    <div class="col-12">
        <a href="{% url 'users:user_list' %}" class="btn btn-outline-primary">К пользователям</a>
    </div>
    <div class="container d-flex justify-content-center">
        <div class = "text-center">
            <div class="card mb-4 box-shadow" style="max-width: 36rem;">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">Пользователь</h2>
                </div>
                <div class="card-body">
                    {% if object.full_name %}
                        <h4>ФИО:</h4>
                        <p>{{ object.full_name }}</p>
                    {% endif %}
                    <h4>Почта:</h4>
                    <p>{{ object.email }}</p>
                    {% if object.comment %}
                        <h4>Комментарий:</h4>
                        <p>{{ object.comment }}</p>
                    {% endif %}
                    {% if object.status %}
                        <p>Активен</p>
                    {% else %}
                        <p>Заблокирован</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}